<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Math Olympiad</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Participants List</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div  class="card">
            <div style="background-color: rgba(78, 198, 214, 0.774);" class="card-header">
              <h3  class="card-title">Registered Participants</h3>
            </div>
            <!-- /.card-header -->
            
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Full Name</th>
                  <th>Category</th>
                  <th>Contact</th>
                  <th>Email</th>
                  <th>Institution</th>
                  <th>T-shirt</th>
                  <th>Total</th>
                  <th>Paid</th>
                  <th>Selected</th>
                  <th>Payment status</th>
                  <th>Select</th>
                  <th>Payment done</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                  <%if(participants.length>0){participants.forEach(participant =>{%>
                      <tr>
                        <td><%=participant._id%></td>
                        <td><%=participant.name%></td>
                        <td><%=participant.category%></td>
                        <td><%=participant.contact%></td>
                        <td><%=participant.email%></td>
                        <td><%=participant.institution%></td>
                        <td><%=participant.tshirt%></td>
                        <td><%=participant.total%></td>
                        <td><%=participant.paid%></td>
                        <td>
                          <% if(participant.selected==true){%>
                            <p style="color: rgb(6, 109, 41); font-weight:bold">Yes</p>
                            <%}else{%> 
                            <p style="color: brown;">No</p>
                            <%}%>
                        </th>
                        <td>
                          <% if(participant.paid==participant.total){%>
                          <p style="color: rgb(7, 87, 7);font-weight:bold">Successful</p>
                          <%}else{%> 
                          <p style="color: brown;">Pending</p>
                          <%}%>
                          
                        </td>
                        <td><% const selectUrl = "/mo/selected/"+participant._id%>
                          <a href="<%=selectUrl%>"><i style="color: rgb(12, 131, 12);" class="fas fa-check"></i>
                          <span class="fa fa-chevron"></span>
                          </a>
                        </td>
                        <td>
                          <% const paymentUrl = "/mo/paymentdone/"+participant._id%>
                          <a href="<%=paymentUrl%>"><i class="far fa-money-bill-alt"></i>
                          <span class="fa fa-chevron"></span>
                        </a>
                        </td>
                        <td>
                          <% const editUrl = "/mo/edit/"+participant._id%>
                          <a href="<%=editUrl%>"><i class="fas fa-edit"></i>
                          <span class="fa fa-chevron"></span>
                          </a>
                        </td>
                        <td>
                          <% const delUrl = "/mo/delete/"+participant._id%>
                          <a href="<%=delUrl%>"><i style="color: brown;" class="fas fa-trash"></i>
                            <span class="fa fa-chevron"></span>
                          </a>
                        </td>
                      </tr>

                    <%})}%>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
