<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Math Olympiad</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Participants List</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div  class="card">
            <div style="background-color: rgba(78, 198, 214, 0.774);" class="card-header">
              <h3  class="card-title">Registered Participants</h3>
            </div>

            <br/>
            <% let success= 'Data has been deleted successfully!'%>
            <% let success2= 'Payment completed succesfully'%>
            <% let success3= 'Participant has been selcted succesfully'%>
            
              <% if (error.length>0) {if (error==success||success2||success3){%>
                <div class="alert alert-success"><%=error%></div>
                <%}else{%>
                <div class="alert alert-danger"><%=error%></div> 
                <%}%> <%}%>
            <!-- /.card-header -->
            
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Full Name</th>
                  <th>Category</th>
                  <th>Contact</th>
                  <th>Email</th>
                  <th>Institution</th>
                  <th>T-shirt</th>
                  <th>Total</th>
                  <th>Paid</th>
                  <th>Selected</th>
                  <th>Payment status</th>
                  <th>Select</th>
                  <th>Payment done</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                  <%if(participants.length>0){participants.forEach(participant =>{%>
                      <tr>
                        <td><%=participant._id%></td>
                        <td><%=participant.name%></td>
                        <td><%=participant.category%></td>
                        <td><%=participant.contact%></td>
                        <td><%=participant.email%></td>
                        <td><%=participant.institution%></td>
                        <td><%=participant.tshirt%></td>
                        <td><%=participant.total%></td>
                        <td><%=participant.paid%></td>
                        <td>
                          <% if(participant.selected==true){%>
                            <p style="color: rgb(6, 109, 41); font-weight:bold">Yes</p>
                            <%}else{%> 
                            <p style="color: brown;">No</p>
                            <%}%>
                        </td>
                        <td>
                          <% if(participant.paid==participant.total){%>
                          <p style="color: rgb(7, 87, 7);font-weight:bold">Successful</p>
                          <%}else{%> 
                          <p style="color: brown;">Pending</p>
                          <%}%>
                          
                        </td>
                        <td><% const selectUrl = "/mo/selected/"+participant._id%>
                          <a href="<%=selectUrl%>"><i style="color: rgb(12, 131, 12);" class="fas fa-check"></i>
                          <span class="fa fa-chevron"></span>
                          </a>
                        </td>
                        <td>
                          <% const paymentUrl = "/mo/paymentdone/"+participant._id%>
                          <a href="<%=paymentUrl%>"><i class="far fa-money-bill-alt"></i>
                          <span class="fa fa-chevron"></span>
                        </a>
                        </td>
                        <td>    
                          <a data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><i class="fas fa-edit"></i>
                          <span class="fa fa-chevron"></span>
                          </a>
                        </td>
                        <td>
                          <% const delUrl = "/mo/delete/"+participant._id%>
                          <a href="<%=delUrl%>"><i style="color: brown;" class="fas fa-trash"></i>
                            <span class="fa fa-chevron"></span>
                          </a>
                        </td>
                      </tr>

                    <%})}%>
              </table>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Edit Information</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form method="POST" action="/mo/edit">
                        <div class="form-group">
                          <label>ID</label>
                          <input type="text" class="form-control" id="mo_id" name="id" placeholder="ID">
                        </div>
                        <div class="form-group">
                          <label>Full name</label>
                          <input type="text" class="form-control" id="mo_name" name="name" placeholder="Full name">
                        </div>
                        <div class="form-group">
                            <label>Select Category</label>
                            <select class="form-control" id="mo_cat" name="category" >
                              <option disabled> ---Choose option---</option>
                              <option value="University">University</option>
                              <option value="School">School</option>
                              <option value="College">College</option>
                            </select>
                        </div>
                  
                        <div class="form-group">
                          <label>Contact</label>
                          <input type="text" class="form-control" id="mo_contact" name="contact" placeholder="Mobile no.">
                        </div>
                        <div class="form-group">
                          <label>Email address</label>
                          <input type="email" class="form-control" id="mo-email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                          <label>Institution</label>
                          <input type="text" class="form-control" id="mo-institution" name="institution" placeholder="Institution">
                        </div>
          
                        <div class="form-group">
                          <label>Select T-shirt</label>
                          <select class="form-control" id="mo_tshirt" name="tshirt">
                            <option disabled>----Choose option----</option>
                            <option value="S">S</option>
                            <option value="L">L</option>
                            <option value="M">M</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                          </select>
                        </div>
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary"><a style="color: aliceblue;">Update</a></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
           </div>
        </div>
             
            <!-- /.card-body -->
      </div>
    </div>
  </div>
 </div> 
 </section>
</div>
